
<%=link_to "Create new wolves", new_wolf_path, :class => ["btn", "btn-primary"] %>
<br/>

<table>
  <tr>
    <td>Status</td>
    <td>ID</td>
    <td>Key</td>
    <td>IP</td>
    <td>Current Agent</td>
    <td>Tickets Open</td>
    <td>Last lurk</td>
  </tr>
  <% @wolves.each do |wolf| %>
    <tr>
      <td>-</td>
      <td><%=wolf.id%></td>
      <td><%=link_to wolf.key, wolf_path(wolf) %></td>
      <td><%=wolf.ip_address%></td>
      <td>
        <% wolf.agents.each do |a| %>
          <%=link_to a.id, agent_path(a.id) %><br/>
        <% end %>
      </td>
      <td>
        <% wolf.tickets.each do |t| %>
          <%=link_to t.id, ticket_path(t.id) %> <br/>
        <% end %>
      </td>
      <td><%#=wolf.last_lurk%></td>
      <td>
        <%=link_to wolf_path(wolf), method: :delete, class: ["btn", "btn-alert"] do %>
          Delete
        <% end %>
      </td>
    </tr>
  <% end %>
</table>